:root {
    --color-yellow: #ffcc4a;
    --color-green: #4eaf4e;
    --color-dark: rgba(27, 27, 27, 0.91);
    --color-gray: #ebebeb;
    --header-size-1: 34px;
    --color-white: #fff;
    --color-black: #151515;
}

body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Latto", sans-serif;
}

a {
    text-decoration: none;
    accent-color: var(--accent-color);
}

ul {
    list-style: none;
}

.heading {
    font-family: "Cabin",sans-serif;
}

.header__logo {
    font-size: 30px;
    color: var(--color-white);
}

.logo {
    display: flex;
    align-items: center;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

.header {
    /* background-color: rgba(27, 27, 27, 0.91); */
    background-color: var(--color-dark);
    padding: 40px;
}

.nav__menu {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.nav__link {
    color: var(--color-white);
    font-size: 17.728px;
}

.action-button {
    display: inline-flex;
    align-items: center;
    border-radius: 42px;
    background-color: var(--color-white);
    column-gap: 11px;
    padding: 8px 41px 8px 10px;
    color: var(--color-dark);
}

.hero {
    background-color: var(--color-gray);
}

.hero__info {
    max-width: 508px;
}

.label {
    text-transform: uppercase; 
    letter-spacing: 2.32px; 
    line-height: 147.5%;
    border-radius: 20px; 
    padding: 0px 11px; 
}

.label--yellow {
    background-color: var(--color-yellow); 
}

.hero__heading {
    font-size: 50px; 
}

.hero__label {
    display: inline-block;
    margin-bottom: 19px;
}

.hero__text {
    margin-top: 20px;
    margin-bottom: 29px;
}

/* .hero__row {
    padding: 260px 0px;
    background-image: url(img/Photo\(2\).png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 90%;
} */

/* .hero__row {
    position: relative;
    padding: 260px 0px;
}

.hero__image {
    position: absolute;
    top: 0;
    right: -420px;
} */

.hero__row {
    display: flex;
    gap: 140px;
    align-items: center;
    flex-wrap: wrap;
}

.hero__image {
    width: 20%;
}

.advantages {
    position: relative;
    top: -130px;
}

.advantages__row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.advantages-card {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 48px;
    padding-top: 237px;
    max-width: 388px;
    overflow: hidden;
}

.advantages__heading {
    font-size: 25px;
}

.advantages__text {
    margin-top: 10px;
    margin-bottom: 15px;
}

.advantages__link {
    display: inline-block;
    padding: 16px 31px;
    border-radius: 55px;
    margin-top: 15px;
    color: var(--color-black);
    font-weight: bold;
}

.advantages__card-services {
    background-image: url(img/card1.png);

}

.advantages__card-approach {
    background-image: url(img/card2.png);
}

.advantages__card-solution {
    background-color: var(--color-dark); 
    color: var(--color-white);
}

.advantages__link--white {
    background-color: var(--color-white);
}

.advantages__link--black {
    background-color: var(--color-black);
    color: var(--color-white);
}

.advantages-card__icons {
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(-15deg);
}

.advantages-card__icon {
    transform: rotate(12deg) translate(90px, 75px);
    left: 50px;
}

.advantages-card__icon-1 {
    transform: rotate(30deg) translate(-80px, -40px);

}

.advantages-card__icon-2 {
    transform: rotate(50deg) translate(140px, -10px);
    scale: (0.5);
}

.advantages-card__icon-3 {
    transform: rotate(50deg) translate(140px, -10px);

}

.advantages-card__icon-4 {
    transform: rotate(10deg) translate(-60px, -10px);

}

.advantages-card__icon-5 {
    transform: rotate(40deg) translate(60px, 20px);

}

.advantages-card__icon-6 {
    transform: rotate(10deg) translate(-16px, 20px);
}

.advantages-card__heading {
    -webkit-text-stroke: 2px var(--color-black);
    position: absolute;
    color: transparent;
    font-weight: normal;
    font-size: 150px;
}

.statistics {
    background-image: linear-gradient(rgba(251, 195, 54, 0.9),rgba(251, 195, 54, 0.9)), url(img/statistics-photo.png);
    background-repeat: no-repeat;
    background-position: 50% 20%;
    padding: 133px 0;
}

.statistics__row {
    display: flex;
    gap: 89px;
}

.statistics__info {
    max-width: 375px;
}

.label--white {
    background-color: var(--color-white);
}

.statistics__heading {
    font-size: 45px;
    margin-top: 22px;
    margin-bottom: 20px;
}

.statistics__items {
    display: flex;
    gap: 80px;
}

/* .statistics__range {
    appearance: none;
    background: none;
}

.statistics__range::-webkit-slider-runnable-track {
    background-color: #4eaf4e;
    border-radius: 30px;
}

.statistics__range::-webkit-slider-thumb {
    appearance: none;
    background-color: #151515;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
} */

/* .statistics__range::-webkit-slider-thumb::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
} */

.statistics__range-wrapper {
    width: 186px;
    height: 186px;
    border-radius: 50%;
    position: relative;
}

.statistics__range-consistency {
    background-image: conic-gradient(white 85%,rgb(218, 174, 60)0%);
}

.statistics__range-improvment {
    background-image: conic-gradient(white 95%,rgb(218, 174, 60)0%);
}

.statistics__range-branching {
    background-image: conic-gradient(white 90%,rgb(218, 174, 60)0%);
}

.statistics__range-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 175px;
    height: 175px;
    background-color: var(--color-yellow);
    border-radius: 50%;
}

.statistics__range-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #151515;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 6px solid #fff;
    box-sizing: border-box;
    z-index: 1;
}

.statistics__range-consistency::before {
    top: 30px;
}

.statistics__range-improvment::before {
    top: -8px;
    left: 50px;
}

.statistics__range-branching::before {
    top: 10px;
    left: 17px;
}

.statistics__procent {
    font-weight: bold;
    font-size: 50px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.statistics__label {
    display: inline-block;
    
}